<%= form_with(model: symptom, local: true) do |form| %>
  <% if symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(symptom.errors.count, "error") %> prohibited this symptom from being saved:</h2>

      <ul>
      <% symptom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :symptom_name %>
  </div>

  <div class="field">
    <%= form.label :symptom_type_id %>
    <%= form.collection_select(:symptom_type_id, SymptomType.all, :id, :name ) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :symptom_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :symptom_end_time %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :symptom_description %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
