<%= form_with(model: consumable_item_type, local: true) do |form| %>
  <% if consumable_item_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumable_item_type.errors.count, "error") %> prohibited this consumable_item_type from being saved:</h2>

      <ul>
      <% consumable_item_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :consumable_item_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :consumable_item_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
