<p id="notice"><%= notice %></p>

<h1>Consumable Item Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumable_item_types.each do |consumable_item_type| %>
      <tr>
        <td><%= consumable_item_type.name %></td>
        <td><%= consumable_item_type.description %></td>
        <td><%= link_to 'Show', consumable_item_type %></td>
        <td><%= link_to 'Edit', edit_consumable_item_type_path(consumable_item_type) %></td>
        <td><%= link_to 'Destroy', consumable_item_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consumable Item Type', new_consumable_item_type_path %>
