<h1>New Consumable Item</h1>
<p>Here you create new consumable food and drink items.</p>

<%= form_with scope: :consumable_item, url: consumable_items_path, local: true do |form| %>
  
  <% if @consumable_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@consumable_item.errors.count, "error") %> prohibited
        this Consumable Item from being saved:
      </h2>
      <ul>
        <% @consumable_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :approx_calories %><br>
    <%= form.text_field :approx_calories %>
  </p>

  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', consumable_items_path %>